@model IEnumerable<Actor>

@{
    ViewData["Title"] = "Browse Actors";
}

<div class="row">
    <div class="col-md-10 offset-md-1">
        <h2 class="text-primary mb-4">Browse Actors</h2>
        <table class="table table-striped table-bordered">
            <thead class="thead-dark">
                <tr class="text-center">
                    <th>Profile</th>
                    <th>Full Name</th>
                    <th>Biography</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var actor in Model)
                {
                    <tr>
                        <td class="align-middle">
                            <img class="rounded-circle img-thumbnail img-scale" src="@actor.ProfilePictureUrl" alt="@actor.FullName" />
                        </td>
                        <td class="align-middle">@actor.FullName</td>
                        <td class="align-middle">@actor.Bio</td>

                        <td class="align-middle td-actions">
                            <a class="btn btn-outline-info" asp-action="Details" asp-route-id="@actor.Id"><i class="bi bi-eye"></i> View</a>
                            @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                            {
                                <a class="btn btn-outline-warning" asp-action="Edit" asp-route-id="@actor.Id"><i class="bi bi-pencil-square"></i> Edit</a>
                                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@actor.Id"><i class="bi bi-trash"></i> Remove</a>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@await Html.PartialAsync("_CreateItem", "Actors")
