@model IEnumerable<Cinema>

@{
    ViewData["Title"] = "Explore Cinemas";
}

<div class="row">
    <div class="col-md-10 offset-md-1">
        <h2 class="text-success mb-4">Explore Cinemas</h2>
        <table class="table table-striped table-bordered table-responsive">
            <thead class="thead-dark">
                <tr class="text-center">
                    <th>Logo</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var cinema in Model)
                {
                    <tr>
                        <td class="align-middle">
                            <img class="rounded-circle img-thumbnail img-scale" src="@cinema.Logo" alt="@cinema.Name" />
                        </td>
                        <td class="align-middle">@cinema.Name</td>

                        @if (cinema.Description.Length >= 35)
                        {
                            <td class="align-middle">
                                @cinema.Description.Substring(0, 35)...
                            </td>
                        }
                        else
                        {
                            <td class="align-middle">
                                @cinema.Description...
                            </td>
                        }
                        <td class="align-middle td-actions">
                            <a class="btn btn-outline-success" asp-action="Details" asp-route-id="@cinema.Id"><i class="bi bi-eye"></i>View Details</a>
                            @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                            {
                                <a class="btn btn-outline-warning" asp-action="Edit" asp-route-id="@cinema.Id"><i class="bi bi-pencil-square"></i>Edit</a>
                                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@cinema.Id"><i class="bi bi-trash"></i>Delete</a>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@await Html.PartialAsync("_CreateItem", "Cinemas")
